/.vscode
/all_folders.zip
/ALTER TABLE job_applied.sql
/CASE_EXPRESSION.sql
/CREATE DATABASE sql_course;.sql
/CREATE TABLE job_applied.sql
/csv_files
/DATA_AND_TIMESTAMP.sql
/INSERT INTO job_applied.sql
/postgres.session.sql
PROBLEM1.sql
/PROBLEM10.sql
/PROBLEM2.sql
/PROBLEM3.sql
/PROBLEM4.sql
/PROBLEM5.sql
/PROBLEM6.sql
/PROBLEM7.sql
/PROBLEM8.sql
/PROLBEM9.sql
/sql_course.session.sql
/SUBQUERIESandCTE.sql
/UNION.sql
/UPDATE job_applied.sql
